################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Veterinaria/FileContentIndex/d4ce1aec-9e19-4195-b4f6-785b55010f6f.vsidx
/.vs/Veterinaria/FileContentIndex/4d9e1919-abd8-4c01-aea3-dac3a1dd0200.vsidx
/.vs/Veterinaria/FileContentIndex/2a9fba6f-07d0-482d-8688-fc69fd264fbc.vsidx
/.vs/Veterinaria/FileContentIndex/0f21157d-e278-45eb-82b2-12fdf705d5c3.vsidx
/.vs/Veterinaria/FileContentIndex/06de0dfc-bbde-4319-8049-e0d007ae3169.vsidx
